// Font Family
$system-font-family: 'Montserrat', sans-serif;

// Headings
@mixin heading-1($color: $white) {
		margin: 0;
		font-family: 'Roboto Slab', serif;
    font-size: 80px;
    line-height: 86px;
		font-weight: bold;
		color: $color;
}

@mixin heading-2($color: $white) {
    font-size: 60px;
    line-height: 86px;
		font-weight: bold;
		color: $color;
  }

  @mixin heading-3($color: $white) {
    font-size: 20px;
    line-height: 20px;
		font-weight: bold;
		margin-bottom: 14px;
		color: $color;
  }

  @mixin heading-4($color: $white) {
    font-size: 24px;
    line-height: 34px;
		font-weight: bold;
		color: $color;
  }

  // Body Text
	%large {
		line-height: 37px;
		font-size: 24px;
	}

  @mixin large-text($color: $white) {
		@extend %large;
		color: $color;
	}

	@mixin large-text-bold($color: $white) {
		@extend %large;
		font-weight: bold;
		color: $color;
	}

	%medium {
		line-height: 31px;
		font-size: 20px;
	}

	@mixin medium-text($color: $white) {
		@extend %medium;
		color: $color;
	}

	@mixin medium-text-bold($color: $white) {
		@extend %medium;
		font-weight: bold;
		color: $color;
	}
